/* Basic CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  scroll-behavior: smooth;

}
body {
  line-height: 1.6;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}


li.check {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
  padding-left: 1.5em;
}

li.check::before {
  content: '✔';
  color: green;
  position: absolute;
  left: 0;
  font-size: 1.2em;
  line-height: 1.2;
}
