:root {
  --color-primary: #3c5ddf; /* Frisse helderblauw */
  --color-primary-hover: #2f4aca; /* Donkerdere variant voor hover */
  --color-secondary: #e17a5f; /* Zachte warme oranje-roze */
  --color-secondary-hover: #d86549; /* Diepere warme tint */
  --color-dark: #1b223e; /* Diepe nachtblauw */
  --color-light: #f9f9f9; /* Bijna wit, neutraal */
  --color-text: #222222; /* Iets donkerder en neutraler dan eerder */
  --color-border: #d8dcf0; /* Koele zachte grijsblauw */

  // Misc
  --navbar-height: 4rem;

  // Gradients
  --gradient-dark: linear-gradient(45deg, #1b223e 30%, #2c3563 100%);
  --gradient-primary: linear-gradient(180deg, #3c5ddf 0%, #2f4aca 100%);
  --gradient-secondary: linear-gradient(180deg, #e17a5f 0%, #d86549 100%);
  --gradient-light: linear-gradient(180deg, #ffffff 30%, #d8dcf0 100%);
  // Font

  $font-default: "Inter", system-ui, sans-serif;

  --font-body: #{$font-default};
  --font-accent: #{$font-default};

  --font-size-base: 17px;
  --font-size-lg: 20px;
  --font-size-sm: 14px;

  --line-height-base: 1.6;

  // Radius
  --radius-xs: 0.125rem; /* 2px */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.75rem; /* 12px */
  --radius-xl: 1rem; /* 16px */

  --radius-btn-sm: 0.5rem; /* 8px */
  --radius-btn-md: 0.75rem; /* 12px */
  --radius-btn-lg: 1rem; /* 16px */

  --radius-card-sm: 0.5rem; /* 8px */
  --radius-card-md: 0.75rem; /* 12px */
  --radius-card-lg: 1rem; /* 16px */
}
