:root {
  --color-primary: #253392; /* Deep Blue Gray */
  --color-primary-hover: #3749bd; /* Slightly darker Deep Blue Gray */
  --color-secondary: #692377; /* Deep Purple Gray */
  --color-secondary-hover: #8f549b; /* Muted Purple */
  --color-dark: #1d1d33; /* Dark Blue */
  --color-light: #f2e9e4; /* Light Lavender */
  --color-text: #1b1b1b; /* Soft Mauve */
  
  // Misc
  --navbar-height: 4rem;

  // gradients
  --gradient-dark: linear-gradient(180deg, #1d1d33 50rem, #192992 62.5rem);
  --gradient-primary: linear-gradient(180deg, #192992 50rem, #3749bd 62.5rem);
  --gradient-secondary: linear-gradient(180deg, #692377 50rem, #8f549b 62.5rem);
  --gradient-light: linear-gradient(180deg, #ffffff 50rem, #d7d9ff 62.5rem);
}
