---
import Navbar from "../components/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Packages from "../components/Packages.astro";
import TypingText from "../components/TypingText.vue";
---

<BaseLayout title="Jouw Professionele Website Zonder Gedoe">
  <header class="site-header with-navbar">
    <Navbar type="dark" />
    <div class="header-hero light-text">
      <div class="header-background image-1">
      </div>

      <div class="container">
        <h1>
          Professionele websites voor <TypingText words={["nagelstylisten", "thuiskappers", "Nail artists", "zelfstandig ondernemers"]} client:load />

        </h1>
        <p class="subtitle">
          Zichtbaar worden op jouw manier – ik zorg dat jouw website werkt én bij je past.
        </p>
        <a href="#paketten" class="btn btn--primary">Bekijk de opties</a>
      </div>
    </div>
  </header>

  <Packages></Packages>

  <footer class="site-footer bg-gradient-dark">
    <div class="container">
      <p>
        © 2025 Zakelijke Website – Persoonlijke webdesign voor beauty
        ondernemers
      </p>
    </div>
  </footer>
</BaseLayout>
